.MyComponent {
  padding: 1em;
}

.MyComponent:hover {
  background-color: red;
}

.namespace-MyComponent {
  cat: dog;
}

.namespace-MyComponent-desc {
  cat: dog;
}

.MyComponent[aria-hidden="true"] {
  display: none;
}

.MyComponent.is-animating {
  cat: dog;
}

.MyComponent--modifier {
  dog: cat;
}

.MyComponent-part {
  margin: 10px;
}

.MyComponent-anotherPart {
  background-color: #FFF;
}
