.MyComponent {
  padding: 1em;
}
.MyComponent.is-animating {
  cat: dog;
}
.MyComponent--modifier {
  dog: cat;
}

.MyComponent-part {
  margin: 10px;
}
.MyComponent-anotherPart {
  background-color: #FFF;
}
