.MyComponent,
.MyComponent-part,
.MyComponent-anotherPart {
  all: initial;
}

.MyComponent {
  padding: 1em;
}

.MyComponent:hover {
  background-color: red;
}

.MyComponent.is-animating {
  cat: dog;
}

.MyComponent--modifier {
  dog: cat;
}

.MyComponent-part {
  margin: 10px;
}

.MyComponent-anotherPart {
  background-color: #FFF;
}
